@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}

h1,h2,h3 {
  font-family: 'Roboto', serif;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto', serif;
  font-size: 18px;
}

h5 {
  font-family: 'Roboto', serif;
  font-weight: bold;
  font-size: 18px;
  color:#000000;
}

h6 {
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: red;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:link {
text-decoration: none;
color:#6D71DD;
}

a:visited {
text-decoration: none;
color:#FFFFFF;
}

a:hover {
text-decoration: none;
color:#000000;
}

a:active {
text-decoration: none;
color:#FFFFFF;
}

p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  color:#FFFFFF;
}

